*{
    margin: 0;
    padding: 0;
}

.benar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(./imeges/download\ \(1\).jpg);
    height: 500px;
}
.lift img{
    width: 300px;
}
.centar{
    text-align: center;
    color: white;
}
.right img{
   width: 300px;
}
.centar h1{
    font-size: 50px;
}
#title{
    font-size: 80px;
}
